extends templates/layouts

block content
  h1= title
  br
  p Welcome to #{title}
  a(href="http://localhost:7777/login") login
  br
  a(href="http://localhost:7777/login/facebook") facebook login
  br
  a(href="http://localhost:7777/register") register

