extends ../templates/layouts

include ../mixins/_loginform
include ../mixins/_socialMediaButtons
block content
  .container.text-center 
    .row
      .col-md-12
        hr
        +loginForm()
        hr
        p OR
        +socialMediaButtons()
        hr