extends ../templates/layouts


include ../mixins/_socialMediaButtons
block content
  .container.text-center 
    .row
      .col-md-12
        hr
        login-form
        hr
        p OR
        +socialMediaButtons()
        hr