extends ../templates/layouts
block content
  .container.text-center
    .row
      .col-md-6
        form.form-signin(action="/user/register" method="POST")
          img.mb-4(src='../../images/princess_leia.svg', alt='', width='150', height='150')
          h1.h3.mb-3.font-weight-normal= title
          .form-group
            input#name.form-control(type="text", name="name", placeholder="Name")
          .form-group
            input#email.form-control(type='email', name="email", aria-describedby='emailHelp', placeholder='Email')
          .form-group
            input#password.form-control(type='password',name="password", placeholder='Password')
          .form-group
            input#passwordConfirm.form-control(type='password', name="password-confirm", placeholder='Password Again')
            button.btn.btn-primary.col-md-12(type='submit') REGISTER →
    
        form.form-signin(action="" method="")
          a.btn.btn-block.btn-social.btn-facebook()
            span.fab.fa-facebook
            |  Sign in with Facebook

          a.btn.btn-block.btn-social.btn-github()
            span.fab.fa-github
            |  Sign in with GitHub

          a.btn.btn-block.btn-social.btn-google()
            span.fab.fa-google
            |  Sign in with Google

          a.btn.btn-block.btn-social.btn-twitter()
            span.fab.fa-twitter
            |  Sign in with Twitter

      .col-md-6
        img.img-responsive(src="../../images/leia_vektor.png", alt="", height="800")








       



