mixin loginForm()

  .container.text-center
    .row
      form.form-signin(action='/user/login' method='POST')
        img.mb-4(src='../../images/princess_leia.svg', alt='', width='150', height='150')
        .form-group
          input#inputEmail.form-control(type='email', aria-describedby='emailHelp',required='', name='email' placeholder='Enter email')
        .form-group
          input#inputPassword.form-control(type='password',name='password', required='', placeholder='Password')
        button.btn.btn-primary.col-md-12(type='submit') Login 
          i.fas.fa-arrow-circle-right
