mixin loginForm()

  .container.h-100
    .row.h-100.justify-content-center.align-items-center
      form.col-md-12(action='/user/login' method='POST')
        .form-group
          img.mx-auto(style='width: 400px;')(src='../../images/princess_leia.svg', alt='', width='150', height='150')
        .form-group
          input#inputEmail.form-control(type='email', aria-describedby='emailHelp',required='', name='email' placeholder='Enter email')
        .form-group
          input#inputPassword.form-control(type='password',name='password', required='', placeholder='Password')
        button.btn.btn-primary(type='submit') Login →
