mixin socialMediaButtons()
  form.form-signin(action="" method="")
    a.btn.btn-block.btn-social.btn-facebook()
      span.fab.fa-facebook
      |  Sign in with Facebook

    a.btn.btn-block.btn-social.btn-github()
      span.fab.fa-github
      |  Sign in with GitHub

    a.btn.btn-block.btn-social.btn-google()
      span.fab.fa-google
      |  Sign in with Google

    a.btn.btn-block.btn-social.btn-twitter()
      span.fab.fa-twitter
      |  Sign in with Twitter